* {
  box-sizing: border-box;
}

html {
  font-size: 12;
}

body {
  color: #eaeaea;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(
      #1d1d1d 25%,
      #1a1a1a 25%,
      #1a1a1a 50%,
      transparent 50%,
      transparent 75%,
      #242424 75%,
      #242424
    );
  background-color: #121212;
  background-size: 20px 20px;
  background-clip: content-box;
  user-select: none;
}

input {
  text-transform: uppercase;
  max-width: 10rem;
}

.area-wrapper {
  float: left;
  width: 100%;
  margin: 10px 0;
}

.area-wrapper > textarea {
  width: 100%;
  height: 70vh;
  max-width: 100%;
  border: 2px solid #eaeaea;
  border-radius: 4px;
  background-color: #121212;
  color: #eaeaea;
  font-size: 1rem;
  resize: none;
}

.page {
  display: flex;
  justify-content: safe center;
  align-items: center;
  height: 100vmin;
  margin: 0 auto;
}

.extra-padding {
  padding: 20px;
}

.main-area {
  display: flex;
  flex-direction: column;
  min-width: 60vw;
  max-width: 80vw;
  min-height: 20vmin;
  justify-content: safe center;
  align-items: center;
  margin: auto;
  background-color: #121212;
  border-radius: 10px;
}

.button {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  color: #121212;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  min-width: 6em;
}

.big-button {
  font-size: 2rem;
  padding: 10px;
  margin: 40px;
}

.md-button {
  font-size: 1rem;
  padding: 10px;
  margin: 15px;
}

.alphabet-letter,
.letter-button,
.highlight-button {
  color: #eaeaea;
  background-color: #0179fc;
}

.create-entry {
  display: flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.entries-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.entry {
  margin: 5px;
  background-color: #eaeaea;
  color: #121212;
  border-radius: 5px;
  height: 1.5em;
  font-size: 1rem;
  padding: 2px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.entry-header {
  display: flex;
  font-size: 2rem;
  justify-content: center;
  margin: 20px;
}

.entry-tip {
  display: flex;
  font-size: 0.8rem;
  justify-content: center;
  width: 100%;
  margin: 5px;
}

.entry-separator {
  border-top: 2px solid #0179fc;
  margin: 0.5rem;
}

.entry-title {
  display: inline-block;
}

.hangman {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.banner {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  background-color: #be0000;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  border-radius: 10px 10px 0 0;
}

.category {
  align-self: center;
  font-size: 2rem;
  margin: 10px 10px 0 10px;
  text-align-last: center;
}

.heart {
  margin-top: 5px;
}

.hangman-word {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5em;
  justify-content: center;
  margin: 1em 1em 0 1em;
  background-color: #1b1b1b;
  border-radius: 5px;
}

.hangman-letter {
  display: flex;
  background-color: #282828;
  font-size: 1.5rem;
  height: 5vw;
  width: 5vw;
  max-width: 1.25em;
  max-height: 1.25em;
  margin: 5px;
  padding: 2px;
  justify-content: center;
  align-items: center;
}

.wrong {
  color: #be0000;
}

.hangman-letter-show {
  font-size: 1.5rem;
  background-color: transparent !important;
}

.hangman-show {
  display: flex;
  font-size: 1.5rem;
  flex-direction: column;
  flex-wrap: wrap;
}

.hint,
.hint-unavailable {
  display: flex;
  padding: 5px 10px 5px 0;
  height: 1.25em;
  margin: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-weight: bold;
}

.hint {
  background-color: #be0000;
  cursor: pointer;
}

.hint-unavailable {
  background-color: #282828;
  cursor: none;
  pointer-events: none;
}

.alphabet-letter,
.letter-clicked {
  font-size: 1.5rem;
  display: flex;
  margin: 5px;
  padding: 5px;
  height: 1.25em;
  width: 1.25em;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.letter-clicked {
  background-color: #282828;
  cursor: none;
  pointer-events: none;
}

.alphabet-letter {
  cursor: pointer;
}

.title {
  font-size: 3rem;
  text-transform: capitalize;
}

.extra {
  padding: 50px;
}

.hint-tip {
  font-size: 1rem;
}

.alphabet-show {
  margin: 0 20px 20px 20px;
}

.alphabet-show,
.hint-tip {
  max-width: 450px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media all and (max-width: 30em) {
  html {
    font-size: 60%;
  }
}
